.signIn {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    color: rgb(50, 120, 250);

    .account {
        font-size: 2.5rem;
    }
}

.signIn:hover {
    background-color: rgba(178, 222, 248, 0.5);
}