.home {
    display: flex;

    .mainPage {
        display: flex;
        width: 100%;
        height: calc(100vh - 50px);
        flex-direction: column;
        padding: 20px 20px 0px 20px;

        .videos {
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 60px;
            margin-top: 30px;
            width: 100%;
            overflow: auto;
        }
    }
}