@use "../../responsive.scss" as responsive;

.home {
    display: flex;
    flex-direction: column;
    position: relative;

    .videos {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 60px;
        margin-top: 10px;
        width: 100%;
        padding: 0px;
        justify-content: center;
    }
}

@media screen and (min-width: responsive.$tablet) {
    .home {

        .videos {
            padding: 10px;
            margin-top: 55px;
        }
    }
}

@media screen and (min-width: responsive.$tabletPro) {
    .home {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}