@use "../../responsive.scss" as responsive;

.homeTabs {
    width: 100%;
    background-color: white;

    ul {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        list-style-type: none;
        padding: 10px 5px;
        gap: 10px;

        li {
            font-size: 1rem;
            font-weight: 500;
            background-color: rgb(241, 241, 241);
            border-radius: 8px;
            padding: 7px 12px;
            text-wrap: nowrap;
            cursor: pointer;
        }

        li:hover {
            background-color: rgb(228, 228, 228);
        }

        .selected, .selected:hover {
            background-color: black;
            color: white;
        }
    }

    ul:hover {
        overflow-x: scroll;
    }

    ul::-webkit-scrollbar {
        background-color: transparent;
        height: 3px;
    }
    
    ul::-webkit-scrollbar-thumb {
        background-color: gray;
    }
}

@media screen and (min-width: responsive.$tablet) {
    .homeTabs {
        position: fixed;
        top: 50;
        z-index: 999;

        ul {
            li {
                font-size: 1.5rem;
            }
        }
    }
}