@use "../../responsive.scss" as responsive;

.navbar {
  height: 50px;
  display: flex;
  width: 100%;
  min-width: 240px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;

  .logoOptions {
    display: flex;
    align-items: center;
    gap: 20px;

    .menuIcon {
      display: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
        height: 20px;
      }

      h1 {
        letter-spacing: -1px;
        font-size: 2rem;
      }
    }
  }

  .searchOptions {
    display: flex;
    align-items: center;
    gap: 5px;

    .searchBar {
      display: flex;
      align-items: center;
      width: fit-content;

      .searchBarLeft {
        display: none;
      }

      .searchBarRight {
        display: flex;
        align-items: center;
        cursor: pointer;

        .searchIcon {
          font-size: 2rem;
        }
      }
    }

    .microphone {
      font-size: 2.5rem;
    }
  }

  .userOptions {
    display: none;
  }
}

@media screen and (min-width: responsive.$tablet) {
  .navbar {
    .logoOptions {
      margin-right: 5px;
      .menuIcon {
        display: flex;
        align-items: center;

        .menuButton {
          width: 30px;
          height: 30px;
        }
      }
    }
    .searchOptions {
      margin: 0 auto;

      .searchBar {

        .searchBarLeft,
        .searchBarRight {
          display: flex;
          align-items: center;
        }

        .searchBarLeft {
          gap: 10px;
          border-left: 1px solid lightgray;
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
          border-radius: 25px 0 0 25px;
          padding: 5px 0 5px 10px;

          input {
            font-size: 1.5rem;
            padding: 0.5rem;
            width: 500px;
            border: none;
            outline: none;
          }
        }

        .searchBarRight {
          border: 1px solid lightgray;
          border-radius: 0 25px 25px 0;
          padding: 8.5px 10px;
          background-color: rgba(240, 240, 240, 0.7);
        }

        .searchBarRight:hover {
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
}


@media screen and (min-width: responsive.$tabletPro) {
    .navbar {

        .logoOptions {
          margin-right: 0;
        }

        .searchOptions {
          gap: 10px;
        }

        .userOptions {
            display: flex;
            align-items: center;
            width: 152px;
            justify-content: space-between;
     
     
            .more {
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }
}