@use "../../responsive.scss" as responsive;

.video {
    flex: 1 1 auto;
    height: fit-content;
    margin-bottom: 20px;

    a, a:visited {
        color: black;
        text-decoration: none;
    }

    .thumbnailBox {
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
        position: relative;

        .thumbnail {
            width: 100%;
        }
    
        .time {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 5px;
            font-size: 1.3rem;
            font-weight: 500;
            border-radius: 5px;
            position: absolute;
            top: 86%;
            right: 1%;
        }
    }


    .videoBox {
        display: flex;
        gap: 8px;
        padding: 10px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        

        .videoInfo {
            padding-top: 3px;

            h2 {
                font-weight: 500;
                font-size: 1.6rem;
                margin-bottom: 10px;
            }

            h3, span {
                font-weight: 400;
                font-size: 1.4rem;
                color: rgb(85, 85, 85);
            }

            h3:hover {
                color: rgb(0, 0, 0);
            }
        }
    }
}

@media screen and (min-width: responsive.$tablet) {
    .video {
        width: 350px;
        margin-bottom: 0;

        .thumbnailBox {
            
            .thumbnail {
                border-radius: 15px;
            }

            .time {
                top: 85%;
            }
        }

        .videoBox {
            padding: 0px;
            
            img {
                width: 50px;
                height: 50px;
            }
        }

    }
}

@media screen and (min-width: responsive.$tabletPro) {
    .video {
        width: 450px;

        .thumbnailBox {

            .time {
                top: 89%;
            }
        }
    }
}