@use "../../responsive.scss" as responsive;

.video {
    flex: 1 1 auto;
    height: fit-content;
    position: relative;

    a, a:visited {
        color: black;
        text-decoration: none;
    }

    .thumbnail {
        width: 100%;
        margin-bottom: 10px;
    }

    .time {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px;
        font-size: 1.3rem;
        font-weight: 500;
        border-radius: 5px;
        position: absolute;
        top: 257px;
        right: 7px;
    }

    .videoBox {
        display: flex;
        gap: 8px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        

        .videoInfo {
            padding-top: 5px;

            h2 {
                font-weight: 500;
                font-size: 1.6rem;
                margin-bottom: 10px;
            }

            h3, span {
                font-weight: 400;
                font-size: 1.4rem;
                color: rgb(85, 85, 85);
            }

            h3:hover {
                color: rgb(0, 0, 0);
            }
        }
    }
}

@media screen and (min-width: responsive.$tablet) {
    .video {
        width: 350px;

        .thumbnail {
            border-radius: 15px;
        }
    }
}

@media screen and (min-width: responsive.$tabletPro) {
    .video {
        width: 450px;
    }
}